	<head>
		<meta name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes" />

		<link rel="stylesheet" href="{{ site.url }}/assets/main.css">

		<!-- include custom stule sheets here -->
		<link rel="stylesheet" href="{{ site.url }}/assets/css/style.scss">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{{ site.url }}/assets/js/anime.min.js"></script>
		<!-- include custom stule sheets here -->

		<link rel="canonical" href="http://localhost:4000/about/">
		<link rel="alternate" type="application/rss+xml" title="Your awesome title" href="{{ site.url }}/feed.xml">

		<script src="https://use.typekit.net/bkt6ydm.js"></script>
		<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  		<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600'>
		<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
		<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
	</head>

	<body>
		<header class="site-header" role="banner">
			<div class="wrapper fade-in">
				<a class="site-title" href="{{ site.url }}/" style="font-weight: 400; text-decoration: none;">Lei Wang</a>

				<nav class="site-nav">
					<div class="trigger">
							<a class="page-link" href="{{ site.url }}/" style="text-decoration: none;">Home Page</a>
							<a class="page-link" href="{{ site.url }}/experience/" style="text-decoration: none;">Experience</a>
							<a class="page-link" href="{{ site.url }}/assets/resume.pdf" style="text-decoration: none;">Resume</a>
					</div>
				</nav>
			</div>
		</header>
