---
layout: none
---

{% include header.html %}
<body>
	<br>
	<br>
	<br>
	<div class="wrapper fade-in">
		<img src="{{ site.url }}/assets/lei.jpg" alt="Avatar" style="width:200px">

		<p style="padding-top: 70px; font-size: medium; font: monospace;">
		Hi, My name is Lei. I am a graduate student at <a href="https://ku.edu" style="text-decoration: none;">the University of Kansas</a>, and i am interested in Data Science, Machine Learning, and software designs. I have developed two mobile apps using different Javascript frameworks in the last two years, and i have helped my former advisor <a href="https://bio.engr.ku.edu/luke-huan" style="text-decoration: none">Dr.Huan</a> designing a web application for Machine Learning platform. I have been coding primarily in Javascript, and i have used Angular.js and React Native frameworks. Right now, i am learning React.js and i am also interested in learning Python for my Information Retrieval project.
		</p>
	</div>
</body>

{% include footer.html %}


<style type="text/css">
	img {
		border-radius: 50%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
</style>
