---
layout: none
---

{% include header.html %}

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LeiWang | Home</title>
</head>

<body>
	<br>
	<br>
	<br>
	<div class="wrapper fade-in">
		<img src="{{ site.url }}/assets/lei.jpg" alt="Avatar" style="width:200px">

		<p style="padding-top: 50px; font-size: medium; font: monospace;">
		Lei is passionate about web and mobile technologies and developed multiple efficient applications in both research and industrial settings. Skilled in React, React Native, Nodejs, Python and Agile Methodologies. Strong research professional with a Master of Computer Science - MS focused in Machine Learning and Data Science from <a href="https://ku.edu" style="text-decoration: none;">The University of Kansas</a>.
		</p>
	</div>
</body>

{% include footer.html %}

<style type="text/css">
	img {
		border-radius: 50%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
</style>
